<div id="wrapper">
	<section id="top" data-parallax="scroll" data-image-src="assets/foggy-redwoods.jpg" data-speed: "0" >

		<header>
			<div id="logo">
				<a href="#top">
					<p class="main-logo">David<span class="bold">Janczyn</span><span class="accent">'s</span>
					</p>
				</a>
				<span class="sub-logo">Developer In Training</span>
			</div>
			<nav class="nav-collapse">
				<ul>
					<li><a href="#portfolio">PROJECTS</a></li>
					<li class="bottom"><a href="#contact">CONTACT</a> </li>
				</ul>
			</nav>
		</header>
	</section>
	<section id="quote">
		<div class="adjectives m-all t-1-3 d-1-3">
			<img src="assets/ribbon.png">
			<h3>Motivation.
				Purpose.
				Inspiration.
			</h3>
		</div>
		<figure class="m-all t-2-3 d-2-3">
			<i class="fa fa-quote-left"></i>
			<%= @quote.quote %>
		</figure>
	</section>
	<section id="portfolio">
		<h2 class="sub-header">CURRENT PROJECTS</h2>
		<div class="sub-header-border"></div>
		<div class="flexslider">
			<ul class="slides">
				<li>
					<img src="assets/social-network.jpg" class="t-1-4 d-1-4" />
					<div class="flex-caption t-1-4 d-1-4">
						<h4>Social-Network</h4>
						<p class="caption">A web app inspired by Facebook.  Built with a Rails, PostgreSQL, Devise for authentication and HTML5, SCSS and Javascript frontend.</p>
						<p><a href="https://www.github.com/sandiegodj/social-network" target="_blank"><i class="fa fa-github"></i></a><a href="https://warm-spire-7655.herokuapp.com" target="_blank"><i class="fa fa-external-link"></i></a></p>
					</div>
				</li>
				<li>
					<img src="assets/cssframework.jpg" class="t-1-4 d-1-4" />
					<div class="flex-caption t-1-4 d-1-4">
						<h4>CSS Grid-Based Framework</h4>
						<p class="caption">A good starting off point for any SCSS-based project.</p>
						<p><a href="https://www.github.com/sandiegodj/cssframework" target="_blank"><i class="fa fa-github"></i></a></p>
					</div>
				</li>
				<li>
					<img src="assets/secretspot.jpg" class="t-1-4 d-1-4" />
					<div class="flex-caption t-1-4 d-1-4">
						<h4>Secret Spot</h4>
						<p class="caption">A web app used to help predict which spot to go surfing at.  &nbspBuilt with PHP, MySQL, HTML and CSS.</p>
						<p><a href="https://www.github.com/sandiegodj/secret_spot" target="_blank"><i class="fa fa-github"></i></a><a href="http://secretspot.us" target="_blank"><i class="fa fa-external-link"></i></a></p>
					</div>
				</li>
				<li>
					<img src="assets/etch.jpg" class="t-1-4 d-1-4" />
					<div class="flex-caption t-1-4 d-1-4">
						<h4>Etch-n-Sketch</h4>
						<p class="caption">A fun toy developed with JQuery and Javascript.</p>
						<p><a href="https://github.com/sandiegodj/Javascript_jQuery" target="_blank"><i class="fa fa-github"></i></a><a href="http://etchnsketch.codeslingers.us" target="_blank"><i class="fa fa-external-link"></i></a></p>
					</div>
				</li>
				<li>
					<img src="assets/cohome.jpg" class="t-1-4 d-1-4" >
					<div class="hidden">	
						<a href="assets/cocontact.jpg" class="fancybox" rel="gallery"><img src="assets/cocontact.jpg"></a>
						<a href="assets/cotest.jpg" class="fancybox" rel="gallery"><img src="assets/cotest.jpg"></a>				
					</div>
					<div class="flex-caption t-1-4 d-1-4">
						<h4>Custom WordPress Theme</h4>
						<p class="caption">A mobile-first theme developed through Bones. Work in Progress.</p>
						<a href="assets/cohome.jpg" class="fancybox" rel="gallery"><i class="fa fa-external-link"></i></a>
					</div>
				</li>
			</ul>
		</div>		
	</section>
	<section id="contact">
		<h2 class="sub-header">GET IN TOUCH</h2>
		<div class="sub-header-border"></div>
		<%= simple_form_for @contact, :html => {:class => 'form-horizontal'} do |f| %>
			<%= f.label :name, "Your name" %>
			<%= f.input :name, label: false %>
			<%= f.label :email, "Your email" %>
			<%= f.input :email, label: false %>
			<%= f.label :message %>
			<%= f.input :message, :as => :text, label: false%>
			<div class= "hidden">
		      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
		    </div>
		    	<%= f.button :submit, 'Send message', :class=> "btn-send" %>
	    <% end %>
	</section>
	<footer>
		<a href="https://www.github.com/sandiegodj"><i class="fa fa-github"></i></a>
		<a href="http://www.linkedin.com/in/davidjanczyn"><i class="fa fa-linkedin-square "></i></a>
	</footer>
</div>